<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>BlackSpot</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginSer</display-name>
    <servlet-name>AdminLoginSer</servlet-name>
    <servlet-class>com.detection.services.AdminLoginSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginSer</servlet-name>
    <url-pattern>/AdminLoginSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStationSer</display-name>
    <servlet-name>AddStationSer</servlet-name>
    <servlet-class>com.detection.services.AddStationSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStationSer</servlet-name>
    <url-pattern>/AddStationSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PsStationLoginSer</display-name>
    <servlet-name>PsStationLoginSer</servlet-name>
    <servlet-class>com.detection.services.PsStationLoginSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PsStationLoginSer</servlet-name>
    <url-pattern>/PsStationLoginSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getter</display-name>
    <servlet-name>Getter</servlet-name>
    <servlet-class>com.detection.services.Getter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getter</servlet-name>
    <url-pattern>/Getter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddSpotSer</display-name>
    <servlet-name>AddSpotSer</servlet-name>
    <servlet-class>com.detection.services.AddSpotSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddSpotSer</servlet-name>
    <url-pattern>/AddSpotSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterSer</display-name>
    <servlet-name>UserRegisterSer</servlet-name>
    <servlet-class>com.detection.services.UserRegisterSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterSer</servlet-name>
    <url-pattern>/UserRegisterSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginSer</display-name>
    <servlet-name>UserLoginSer</servlet-name>
    <servlet-class>com.detection.services.UserLoginSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginSer</servlet-name>
    <url-pattern>/UserLoginSer</url-pattern>
  </servlet-mapping>
</web-app>